{% extends "base.html" %}

{% block title %}Desempeño asociado{%endblock%}

{%block content%}


<label for="consulta">Ingresa el nombre del asociado para consultar su desempeño</label><br>
<br>
<form name = "consulta" action="/kpi/" method="GET">{% csrf_token %} {%comment%} La informacion del formulario se envia utilizando la URL del navegador como medio de transporte{%endcomment%}
    
    <input type="text" name = "name_asoc">
    
    <input type="submit", value="consultar">

</form>

{%endblock%}
